#Site {
    margin: 0 auto;
}

#Logo {
    margin: 0;
    text-align: center;
    background: #1f567d;
}

    #Logo h1 {
        margin-top: 0px;
        padding-top: 20px;
        margin-bottom: 0px;
        color: white;
    }

    #Logo h4 {
        margin-bottom: 0px;
        padding-bottom: 30px;
        margin-top: 0px;
        color: white;
    }


/*Navigatie balk*/
#Nav {
    font-weight: bold;
    line-height: 35px;
    background-color: #1f567d;
}

    #Nav ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #Nav li {
        display: inline-block;
        background-color: #1f567d;
        margin-left: -5px;
    }

        #Nav li a {
            color: white;
            display: block;
            width: 150px;
            text-decoration: none;
        }

        #Nav li:hover {
            background: white !important;
            border-radius: 10px 10px 0px 0px !important;
        }

            #Nav li:hover a {
                color: black !important;
            }

/*This hapens when there is another tab hovered than the current page tab */
.Hoofd:hover > .Active {
    background: #0074c2 !important;
}

    .Hoofd:hover > .Active a {
        color: white !important;
    }

/*Start with Active UL "selected" -> So white background and border radiuses*/
.Active {
    background: white !important;
    border-radius: 10px 10px 0px 0px !important;
}
    /*Active starts with white background so color should be black!*/
    .Active a {
        color: black !important;
    }


body {
    font-family: 'Century Gothic';
    background-color: #ededed;
    color: black;
    margin: 0;
}

#container {
    width: 65%;
    margin: 0 auto;
}

#content {
    background: white;
    border-radius: 0px 0px 12px 12px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing : border-box;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#sideImg
{
    float: right;
    margin-top: 70px;
    padding-left: 30px;
    padding-right: 10px
}

#footer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing : border-box;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px 12px 12px 12px;
    line-height: 33px;
}

#footer span
{
      vertical-align: middle;
      line-height: normal; 
}

#language {
    vertical-align: middle;
    float : right;
}

    #language select {
        width: 150px;
    }

/*Afbeeldingen*/

/*Slideshow*/
#slides {
    width: 660px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}
